{
    "env": {
        "node": true
    },
    "plugins": [],
    "ecmaFeatures": {},
    "parser": "babel-eslint",
    "rules": {
        "dot-notation": 0,
        "new-cap": 0,
        "no-process-exit": 0,
        "no-underscore-dangle": 0,
        "no-unused-vars": 2,
        "no-use-before-define": [2, "nofunc"],
        "no-var": 1,
        "object-shorthand": [2, "methods"],
        "quotes": [1, "single", "avoid-escape"],
        "strict": [2, "never"]
    }
}
